<div class="modal">
  <div class="modal-header">
    <div class="modal-title">Modal title</div>
    <span class="close modal-close">&times;</span>
  </div>
  <div class="modal-body">
    <div class="modal-content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque id perspiciatis placeat
      illo illum tenetur in nesciunt quis minus tempora!

      <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam omnis corporis dicta sed
      repellendus est porro quod, commodi debitis consequatur repellat, dolorum cupiditate suscipit
      ad! Iste enim quas accusamus quibusdam distinctio nam consequuntur nihil eaque nemo, placeat
      vitae tempora sint sed dolor quae soluta illum adipisci alias facilis, vero doloribus.
    </div>
    <div class="modal-footer">
      <div class="action-buttons"></div>
      <button class="btn close modal-close">Close</button>
    </div>
  </div>
</div>
