<div class="feature signs">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">All signs</h4>
      <button class="add-sign add-btn" title="Add new sign" type="button">+</button>
    </div>
    <input
      type="search"
      name="filter_signs"
      class="form-input"
      placeholder="Type to filter signs"
      id="filter_signs"
      autocomplete="off"
    />
    <select id="available_signs" class="select-list sign-list" multiple></select>
    <small class="helper">Press <strong>Ctrl + Click</strong> to select multiple signs</small>
  </div>

  <div class="arrows">
    <button
      class="arrow right sign"
      title="Add selected medical signs"
      type="button"
      title="Add to disease signs"
    >
      <span>&#8594;</span>
    </button>
    <button
      class="arrow left sign"
      title="Remove selected medical signs"
      type="button"
      title="Remove from disease signs"
    >
      <span>&#8592;</span>
    </button>
  </div>

  <div class="card">
    <h4>Eponymous Signs</h4>
    <select id="chosen_signs" class="select-list sign-list" multiple></select>
  </div>
</div>
