<div class="tabWidget">
  <div class="tab">
    <button class="tablinks" data-target="diseases" defaultOpen>Diseases</button>
    <button class="tablinks" data-target="add_disease">Add disease</button>
  </div>

  <!-- Tab content -->
  <div id="diseases" class="tabcontent">
    <div class="center">
      <div class="search-wrapper">
        <input
          type="search"
          id="search"
          class="text-input search-diseases"
          placeholder="Search medupedia"
          autocomplete="off"
        />
      </div>
      <div class="search_output"></div>
      <ul id="disease_list"></ul>
    </div>
    <p class="no-connection">Connection error. Check your internet connection and try again!</p>
    <p class="loading">Loading...</p>
  </div>

  <div id="add_disease" class="tabcontent">
    <form id="add-disease-form">
      <h2>Register new disease</h2>
      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" class="form-input" autocomplete="off" required />
        <p class="error-response"></p>
      </div>
      {% include 'symptoms.html' %} {% include 'signs.html' %}

      <div class="form-group">
        <label for="about">Description: </label>
        <textarea cols="30" rows="10" name="about" id="about"></textarea>
        <p class="error-response"></p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Save disease</button>
      </div>
    </form>
  </div>
</div>
